<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
   <!-- AFRAME CANVAS -->
        <a-scene (loaded)="onLoaded()">

            <!-- ASSETS -->
            <a-assets *ngIf="show">
                <img id="ui1" src="assets/athletes/bballPic1.png">
                <img id="ui2" src="assets/athletes/bballPic2.png">
                <img id="floor" src="assets/floor.png">
                <img id="desk" src="assets/desk.png">
                <img id="brick" src="assets/brick.jpeg">
                <img id="crystal" src="assets/crystal.jpg">
                <img id="shelf" src="assets/shelf.jpg">
                <img id="glass" src="assets/glass.jpg">
                <!--<video id="video" src="https://ucarecdn.com/bcece0a8-86ce-460e-856b-40dac4875f15/" autoplay loop crossorigin></video>-->
           </a-assets>

            <!-- CAMERA -->
            <a-camera src="#brick" *ngIf="show" position="0 0 0">
                <a-cursor></a-cursor>
            </a-camera>

            <!--<a-videosphere *ngIf="show" src="#video" rotation="0 180 0"></a-videosphere>-->

            <!-- FLOOR -->
            <a-plane *ngIf="show" src="#floor" rotation="-90 0 0" width="4" height="4" geometry="primitive:plane;width:4;height:4" position="0 1.1 -1.18"></a-plane>

            <!-- BOOKSHELF -->
            <a-box *ngIf="show" position="1.67 1.45 -0.04" rotation="0 90 0" src="#shelf" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="1 1 0.15">
                <!-- TOP SHELF -->
                <a-box position="0 0.25 -1.09" rotation="0 89.95 0" width="1" height="1" src="#shelf" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="1 0.03 0.99"></a-box>
                <!-- BOTTOM SHELF -->
                <a-box position="-0.01 -0.1 -1.06" rotation="0 89.95 0" width="1" height="1" depth="1" src="#shelf" geometry="primitive:box;width:1;height:1;depth:1" scale="1 0.03 0.98"></a-box>
            </a-box>

                <!-- TOP LEFT BOOKSHELF IMAGE -->
                <a-image *ngIf="show" src="#ui2" position="1.56 1.81 -0.3" scale="0.2 0.2 0.2" rotation="-20 270 0" geometry="primitive:plane" visible="true">
                     <a-animation attribute="position" to="0.87 1.81 -0.30" dur="100" easing="linear" begin="click"></a-animation>
                     <a-animation attribute="position" delay="80" dur="30" easing="linear" from="0.87 1.81 -0.30" to="0.87 1.53 -0.30" begin="click"></a-animation>   
                </a-image>

                <!-- TOP RIGHT BOOKSHELF IMAGE -->
                <a-image *ngIf="show" src="#ui2" position="1.56 1.8 0.23" scale="0.2 0.2 0.2" rotation="-20 270 0" geometry="primitive:plane" visible="true"></a-image>

                <!-- BOTTOM LEFT BOOKSHELF IMAGE -->
                <a-image *ngIf="show" src="#ui2" position="1.55 1.46 -0.34" scale="0.2 0.2 0.2" rotation="-20 270 0" geometry="primitive:plane"></a-image>

                <!-- BOTTOM RIGHT BOOKSHELF IMAGE -->
                <a-image *ngIf="show" src="#ui2" id="animationSampleImage" position="1.56 1.47 0.21" scale="0.2 0.2 0.2" rotation="-20 270 0" geometry="primitive:plane"></a-image>
            
            <!-- CURVED WALL -->
            <a-curvedimage *ngIf="show" radius="5.7" src="#glass" theta-length="180" height="9" rotation="0 89.95 0" scale="0.15 0.1 0.23" geometry="height:9;primitive:cylinder;radius:5.7;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:0" position="0.04 1.53 -1.44"></a-curvedimage>

            <!-- TROPHY CASE LEFT -->
            <a-box *ngIf="show" position="-1.69 1.23 0.34" src="#brick" rotation="0 45 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="0.3 0.3 0.3">
                <!-- TROPHY BALL -->
                <a-sphere *ngIf="show" position="0.01 0.86 0.02" radius="1.25" src="#crystal" geometry="primitive:sphere;radius:1.25" scale="0.3 0.3 0.3"></a-sphere>
            </a-box>

            <!-- TROPHY CASE MIDDLE -->
            <a-box *ngIf="show" position="-1.69 1.23 -0.41" src="#brick" rotation="0 45 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="0.3 0.3 0.3">
                <!-- TROPHY BALL -->
                <a-sphere *ngIf="show" position="-0.02 0.89 0.02" radius="1.25" src="#crystal" geometry="primitive:sphere;radius:1.25" scale="0.3 0.3 0.3"></a-sphere>
            </a-box>

            <!-- TROPHY CASE RIGHT -->
            <a-box *ngIf="show" position="-1.69 1.23 -1.23" src="#brick" rotation="0 45 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="0.3 0.3 0.3">
                <!-- TROPHY BALL -->
                <a-sphere *ngIf="show" position="-0.04 0.87 0.02" radius="1.25" src="#crystal" geometry="primitive:sphere;radius:1.25" scale="0.3 0.3 0.3"></a-sphere>
            </a-box>

            <!-- DESK MIDDLE PIECE -->
            <a-box *ngIf="show" position="-0.01 1.3 -0.67" src="#desk" rotation="0 0 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="0.9 0.05 0.46"></a-box>

            <!-- DESK LEFT PIECE -->
            <a-box *ngIf="show" position="-0.69 1.3 -0.39" src="#desk" rotation="0 90 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="1.01 0.05 0.46" visible="true"></a-box>

            <!-- DESK RIGHT PIECE -->
            <a-box *ngIf="show" position="0.67 1.3 -0.39" src="#desk" rotation="0 90 0" width="1" height="1" depth="1" geometry="primitive:box;width:1;height:1;depth:1" scale="1.01 0.05 0.46" visible="true"></a-box>

             <!-- DESK LEGS -->
            <a-cylinder *ngIf="show" position="0.5 1.16 0.03" src="#desk" radius="0.5" height="1.5" geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05"></a-cylinder>

            <a-cylinder *ngIf="show" position="0.81 1.16 0.03" src="#desk" radius="0.5" height="1.5"  geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="0.81 1.16 -0.85" src="#desk" radius="0.5" height="1.5"  geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="0.33 1.16 -0.85" src="#desk" radius="0.5" height="1.5"  geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="-0.34 1.16 -0.85" src="#desk" radius="0.5" height="1.5"  geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="-0.86 1.16 -0.85" src="#desk" radius="0.5" height="1.5"  geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="-0.86 1.16 0.03" src="#desk" radius="0.5" height="1.5" geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="-0.51 1.16 0.03" src="#desk" radius="0.5" height="1.5" geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="-0.38 1.16 -0.51" src="#desk" radius="0.5" height="1.5" geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>

            <a-cylinder *ngIf="show" position="0.33 1.16 -0.51" src="#desk" radius="0.5" height="1.5" geometry="primitive:cylinder;radius:0.5;height:1.5" scale="0.05 0.15 0.05" rotation="0 0 0" visible="true"></a-cylinder>
           
        </a-scene>

</ion-content>
